body{
	margin: 0;
	background-image: linear-gradient(90deg, rgba(200,0,0,.1) 50%, transparent 50%),
	linear-gradient(rgba(200,0,0,.1) 50%, transparent 50%);
	background-size:50px 50px;
}

#content{
	font-family: system-ui;
	background-color: white;
	width: 900px;
    margin: 0 auto;
	padding: 70px;
	padding-top: 40px;
	padding-bottom: 1px;
}